.cake-shop-section {
    display: flex;
    place-content: center;
    
    .cake-shop-container {
        max-width: 1020px;
        padding-bottom: 120px;
        @media screen and (max-width: 992px) {
            margin-left: 30px;
            margin-right: 30px;
        }
        
        .title {
            margin-top: 60px;
            margin-bottom: 40px;
            font-family: "Chequersdemo";
            font-size: 30px;
        }
        
        .card-container {
            display: flex;
            justify-content: center;
            margin-bottom: 20px
        }
    }
}

.swiper-3d .swiper-slide-shadow {
    background: none;
}