.contact-us-section {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;

    .contact-us-container {
        width: 1024px;

        .title {
            font-family: "Chequersdemo";
            font-size: 30px;
            margin-bottom: 10px;
        }

        .description {
            font-family: 'BozonRegular';
            font-size: 16px;
            margin-bottom: 10px;
        }

        .MuiOutlinedInput-notchedOutline {
            border-color: #708DC7 !important;
            border-width: 1px !important;
            border-radius: 0;
        }

        .MuiInputLabel-root {
            color: #708DC7;
            font-family: 'BozonRegular';
            opacity: 0.6;
        }

        .MuiOutlinedInput-input {
            color: #708DC7;
        }

        .card-container {
            display: flex;
            justify-content: center;
            margin-bottom: 60px
        }
    }
}