.about-me-section {
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    place-content: center;

    .about-me-container {
        width: 1024px;
    }

    .about-me-container-without-margin {
        margin-left: 30px;
        margin-right: 30px;
    }

    .v-line-container {
        display: flex;
        justify-content: center;

        .v-line {
            border-left: solid #708DC7;
            height: 200px;
            margin-top: 260px;
            margin-left: 20px;
        }
    }

    .about-me-text {
        padding: 20px;
        overflow-y: auto;
        height: 300px;
        width: 100%;
        overflow-x: hidden;
        direction: rtl
    }

    .about-me-text-mobile {
        .view-more-button {
            color: #FAFAFA;
        }
    }

    .about-me-text::-webkit-scrollbar {
        width: 1rem;
    }

    .about-me-text::-webkit-scrollbar-track {
        background-color: #F2E0E5;
        border: 5px solid transparent;
        border-radius: 20px;
        width: 10px;
    }

    .about-me-text::-webkit-scrollbar-thumb {
        background: #708DC7;
        border: 6px solid transparent;
        border-radius: 20px;
        background-clip: content-box;
    }
}